@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                User..........<input type="text" id="userInput" />
                <br />
                Message...<input type="text" id="messageInput" />
                <button v-on:click="sendMessage">Send Message</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6" >
                <ul>
                    <li v-for="message in messageList">
                        {{message}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


